.MyPlansButton,
.CreatePlanButton,
.MyInterestedPlandsButton,
.UpdatePersonalDataButton,
.LogOutButton {
  margin: 10px;
  width: 150px; /* Adjust as needed */
  height: 50px; /* Adjust as needed */
}

.ButtonsRow {
  display: flex;
  justify-content: center;
}
